<h3><%= @restaurant.name %></h3>
<h5><%= @restaurant.address %></h5>
<p><% @restaurant.rating.times do  %>
    🌯
  <% end %>
</p>
<p><%= link_to "Edit",  edit_restaurant_path(@restaurant) %></p>
<%= link_to "Back", restaurants_path %>